@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body */
body {
  background-color: rgb(207, 163, 81);
  font-family: 'Rubik', sans-serif;

}
.body-container {
  display: flex;
}


/* left container */
.left-container {
  width: 50vw;
  overflow: auto;
  height: 90vh;
}
.champs {
  display: flex;
  flex-wrap: wrap;
}
.champ-cont {
  margin: .3em 0 0 .5em;
}
.champ-tile {
  height: 5em;
  cursor: pointer;
  border-radius: 5px;
  transition: .1s;
}
.champ-tile:hover {
  filter: brightness(130%);
}



/* right container */
.basic-info {
  display: flex;
}
.right-container {
  width: 50vw;
  height: 90vh;
  overflow: auto;
}
.champ-loading-img {
  height: 25em;
}
.skill-infos {
  display: flex;
}